// resources.rc
#include <windows.h>

1 ICON "Content/Icons/app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English
        BEGIN
            VALUE "FileDescription",  "Trinity Vulkan Engine"
            VALUE "FileVersion",      "1.0.0"
            VALUE "InternalName",     "TrinVK"
            VALUE "OriginalFilename", "TrinVK.exe"
            VALUE "ProductName",      "TrinityVK"
            VALUE "ProductVersion",   "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 // U.S. English
    END
END